CREATE TABLE [dbo].[anunt] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[editie_id] [int] NOT NULL ,
	[categorie_id] [int] NOT NULL ,
	[regiune_id] [int] NULL ,
	[anunt] [nvarchar] (1500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[data] [datetime] NOT NULL ,
	[interested] [bit] NOT NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[categorie] (
	[id] [int] NOT NULL ,
	[parent_id] [int] NULL ,
	[nume] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[toupdate] [bit] NOT NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[contact] (
	[id] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[phone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[note] [varchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[contact_anunt] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[contact_id] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[anunt_id] [int] NOT NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[editie] (
	[id] [int] NOT NULL ,
	[data] [datetime] NOT NULL ,
	[note] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[regiune] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[name] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
 

CREATE TABLE [dbo].[regiune_filtru] (
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[regiune_id] [int] NOT NULL ,
	[name] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
 

ALTER TABLE [dbo].[anunt] WITH NOCHECK ADD 
	CONSTRAINT [PK_temp] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[categorie] WITH NOCHECK ADD 
	CONSTRAINT [PK_SubCategorie] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[contact] WITH NOCHECK ADD 
	CONSTRAINT [PK_Contact] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[contact_anunt] WITH NOCHECK ADD 
	CONSTRAINT [PK_contact_anunt] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[editie] WITH NOCHECK ADD 
	CONSTRAINT [PK_Editie] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[regiune] WITH NOCHECK ADD 
	CONSTRAINT [PK_regiune] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[regiune_filtru] WITH NOCHECK ADD 
	CONSTRAINT [PK_regiune_filtru] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
 

ALTER TABLE [dbo].[anunt] ADD 
	CONSTRAINT [DF_anunt_data] DEFAULT (getdate()) FOR [data],
	CONSTRAINT [DF_anunt_interested] DEFAULT (0) FOR [interested]
 

ALTER TABLE [dbo].[categorie] ADD 
	CONSTRAINT [DF_categorie_toupdate] DEFAULT (0) FOR [toupdate]
 

ALTER TABLE [dbo].[anunt] ADD 
	CONSTRAINT [FK_anunt_Categorie] FOREIGN KEY 
	(
		[categorie_id]
	) REFERENCES [dbo].[categorie] (
		[id]
	),
	CONSTRAINT [FK_anunt_editie] FOREIGN KEY 
	(
		[editie_id]
	) REFERENCES [dbo].[editie] (
		[id]
	)
 

ALTER TABLE [dbo].[categorie] ADD 
	CONSTRAINT [FK_Categorie_Categorie] FOREIGN KEY 
	(
		[parent_id]
	) REFERENCES [dbo].[categorie] (
		[id]
	)
 

ALTER TABLE [dbo].[contact_anunt] ADD 
	CONSTRAINT [FK_contact_anunt_anunt] FOREIGN KEY 
	(
		[anunt_id]
	) REFERENCES [dbo].[anunt] (
		[id]
	),
	CONSTRAINT [FK_contact_anunt_contact] FOREIGN KEY 
	(
		[contact_id]
	) REFERENCES [dbo].[contact] (
		[id]
	)
 


/*
Insert of dictionary data
*/

INSERT INTO categorie(id, parent_id, nume) values (91, null, N'МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ')
INSERT INTO categorie(id, parent_id, nume) values (5, null, N'АУДИОТЕХНИКА')
INSERT INTO categorie(id, parent_id, nume) values (35, null, N'АПТЕКА')

