To Do List:


N   P   D
1   L   In toolbar sa fie button-ul "Close curent tab", care ar inchide tabul deschis curent.
2   M   In toolbar sa fie button-ul "Refresh" care ar reincarca tabul curent deschis.
3   M   De adaugat posibilitatea de adauga notite la anunturile din Faforite, adica inca o coloana "Note"
4   M   De investigat posibilitatea de a mari inaltimea la row din tabel
5   L   De adauga ceva text pe panelul Help
6   M   Filtru dupa categorie sa lucreze pe toate taburile
7   H   Download tab de finisat
8   H   Progress bar la download, la cereri de lunga durata la db






Note:

N - Number
P - Priority
D - Descriere